<div class="sprk-o-CenteredColumn sprk-u-mtm">
  <div class="sprk-o-CenteredColumn">
    <ul class="horizontal-list c-Pipelist sls-u-pbm">
      <li class="c-Pipelist__item">
          <a class="sprk-b-Link" href="https://www.quickenloans.com/" title="Home">Home</a>
      </li>
      <li class="c-Pipelist__item">
        Learn
      </li>
    </ul>
  </div>
</div>
<div class="sprk-o-CenteredColumn sprk-u-plm sprk-u-mbh sprk-u-mtm">
  <h1>
    <span *scText="rendering.fields.heading"></span>
  </h1>
  <h2 class="spark-b-TypeDisplayFour b-TypeDisplayFour">
    <p class="h2p" *scText="rendering.fields.subHeading"></p>
  </h2>
</div>
