<div class="sprk-o-CenteredColumn sprk-u-plm sprk-u-mbh sprk-u-mtm">
  <h2 class="sprk-b-TypeDisplayFour sprk-u-FontWeight--bold b-TypeDisplayFour" *scText="rendering.fields.heading">
  </h2>
  <div class="sprk-o-Stack sprk-o-Stack--medium sprk-o-Stack--split@m">
    <div class="sprk-o-Stack__item sprk-o-Stack__item--third@m">
      <sc-placeholder name="jss-articleone" [rendering]="rendering"></sc-placeholder>
    </div>
    <div class="sprk-o-Stack__item sprk-o-Stack__item--third@m">
      <sc-placeholder name="jss-articletwo" [rendering]="rendering"></sc-placeholder>
    </div>
    <div class="sprk-o-Stack__item sprk-o-Stack__item--third@m">
      <sc-placeholder name="jss-articlethree" [rendering]="rendering"></sc-placeholder>
    </div>
  </div>
</div>