a[target='_blank']:after {
  content: '\1F5D7'
}

.logo {
  background-image: url('/assets/images/sc_logo.svg');
  display: block;
  height: 48px;
  width: 221px;
}

/*
  Hides Sitecore Experience Editor markup,
  if you run the app in connected mode while the Sitecore cookies
  are set to edit mode.
*/
.scChromeData, .scpm { display: none !important; }

.c-Card {
  border: 0;
  -webkit-box-shadow: 0 0 10px 3px #e5e5e5;
  box-shadow: 0 0 10px 3px #e5e5e5;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out
}

.c-Card:hover {
  -webkit-box-shadow: 0 20px 30px 0 #e5e5e5;
  box-shadow: 0 20px 30px 0 #e5e5e5;
  -webkit-transform: translate3d(0,-3px,0);
  transform: translate3d(0,-3px,0)
}

.sprk-u-mah, .sprk-u-mbh, .sprk-u-mvh {
  margin-bottom: 64px!important;
}
.sprk-u-mam, .sprk-u-mtm, .sprk-u-mvm {
  margin-top: 16px!important;
}
.sprk-u-pam, .sprk-u-phm, .sprk-u-plm {
  padding-left: 16px!important;
}
.sprk-o-CenteredColumn {
  margin: 0 auto;
  max-width: 64rem;
}
*, :after, :before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

div {
  display: block;
}
body {
  font-family: myriad-pro,Helvetica,Helvetica Neue,Arial,sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3, p {
  margin: 0 0 16px;
}
.sprk-b-TypeDisplayTwo, h1 {
  line-height: 1.19;
}
.sprk-b-Alpha, .sprk-b-H1, h1 {
  color: #222;
  font-size: 2.853rem;
  font-weight: 700;
  line-height: 1.19;
}
.sprk-b-Alpha, .sprk-b-Beta, .sprk-b-Delta, .sprk-b-Epsilon, .sprk-b-Gamma, .sprk-b-H1, .sprk-b-H2, .sprk-b-H3, .sprk-b-H4, .sprk-b-H5, .sprk-b-H6, .sprk-b-Zeta, h1, h2, h3, h4, h5, h6 {
  font-family: myriad-pro,Helvetica,Helvetica Neue,Arial,sans-serif;
  font-weight: 400;
  margin: 0;
  color: #333;
}
blockquote, caption, dd, dl, fieldset, form, h1, h2, h3, h4, h5, h6, hr, legend, ol, p, pre, table, td, th, ul {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
.c-Pipelist>.c-Pipelist__item:last-child {
  border: 0;
  padding-right: 0;
  margin-right: 0;
}
.c-Pipelist>.c-Pipelist__item {
  border-right: 1px solid #aaa;
  display: inline-block;
  padding-right: .7242rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
}
.c-Pipelist__item:last-child {
  border: none;
}
.c-Pipelist__item {
  display: inline-block;
  border-right: 1px solid #aaa;
}
*, :after, :before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.c-Pipelist {
  padding: 0;
  margin: 0;
  list-style: none;
}
*, :after, :before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.sprk-b-TypeDisplayTwo, h1 {
  line-height: 1.19;
}
.sprk-b-Alpha, .sprk-b-H1, h1 {
  color: #222;
  font-size: 2.853rem;
  font-weight: 700;
  line-height: 1.19;
}
.sprk-b-Alpha, .sprk-b-Beta, .sprk-b-Delta, .sprk-b-Epsilon, .sprk-b-Gamma, .sprk-b-H1, .sprk-b-H2, .sprk-b-H3, .sprk-b-H4, .sprk-b-H5, .sprk-b-H6, .sprk-b-Zeta, h1, h2, h3, h4, h5, h6 {
  font-family: myriad-pro,Helvetica,Helvetica Neue,Arial,sans-serif;
  font-weight: 400;
  margin: 0;
  color: #333;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}
.sprk-b-Alpha,.sprk-b-H1,h1 {
  color: #222;
  font-size: 2.853rem;
  font-weight: 700;
  line-height: 1.19
}

h1, h2, h3, p {
  margin: 0 0 16px;
}

.h2p {
  font-size: 2.144rem;
  line-height: 44.5952px;
  font-weight: 400;
}
.sprk-c-WideNavigation__link {
  border: 0;
  color: #0c4569;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

button.sprk-c-Button--secondary.sprk-c-Button {
  color: #2081bf;
  text-decoration: none;
  border-radius: 0;
  font-weight: 700!important;
  background-color: transparent;
  border: 2px solid #2081bf;
  transition: background-color .3s;
  padding-left: 8px!important;
  padding-bottom: 8px!important;
  padding-right: 8px!important;
  padding-top: 8px!important;
}

button.sprk-c-Button--secondary.sprk-c-Button:hover {
  color: #fff;
  text-decoration: none;
  background-color: #2081bf;
  border: 2px solid #2081bf;
  outline-width: 0;
  border-radius: 0;
  font-weight: 700!important;
  transition: background-color .3s;
  padding-left: 8px!important;
  padding-bottom: 8px!important;
  padding-right: 8px!important;
  padding-top: 8px!important;
}
a.sprk-b-Link.sprk-b-Link--plain.sprk-c-Masthead__link.sprk-c-Masthead__link--big-nav {
  text-decoration: none;
  color: #2081bf;
  outline-width: 0;
  border: 0;
  color: #0c4569;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  /* width: 100%; */
  padding-bottom: 8px!important;
  padding-top: 8px!important;
  background-color: transparent;
  box-sizing: inherit;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  line-height: 32px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 64rem;
  font-family: myriad-pro,Helvetica,Helvetica Neue,Arial,sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  /* color: #333; */
  font-size: .8rem;
}